<div class="employee-screen-container p-4"
    [ngClass]="{'bcg-light': utils.themeStatus === 'light', 'bg-dark': utils.themeStatus === 'dark'}">
    <!-- Your content here -->

    <!-- Header Card -->
    <div class="card rounded-3 shadow-sm mb-4">
        <div class="card-body">
            <h5 *ngIf="mode === 'create'" [ngClass]="utils.themeStatus === 'dark' ? 'text-white' : 'text-dark'"
                class="mb-0 text-dark">Add Shift Assign</h5>
            <h5 *ngIf="mode === 'edit'" [ngClass]="utils.themeStatus === 'dark' ? 'text-white' : 'text-dark'"
                class="mb-0 text-dark">Edit Shift Assign</h5>
        </div>
    </div>

    <!-- Form Card -->
    <form #form="ngForm" (ngSubmit)="form.form.valid && onSubmit(form)">
        <div class="card rounded-3 shadow-sm mb-4">
            <div class="card-body">


                <div class="row gy-4 gx-3">

                    <!-- <div *ngIf="currentUserRole === 'SuperAdmin'" class="col-12 col-md-5">
                        <label for="OrganizationSelect" class="form-label">Select Company</label>
                        <ng-select id="OrganizationSelect" [(ngModel)]="selectedOrganization"
                            [items]="organizationArray" bindLabel="name" placeholder="Select Company"
                            name="organizationSelect" class="dark-mode-select" [multiple]="false" required
                            (change)="onOrganizationChange(selectedOrganization?.id, false)"></ng-select>
                        <div *ngIf="form.submitted && !selectedOrganization && currentUserRole === 'SuperAdmin'"
                            class="text-danger mt-2">
                            {{ requiredText }}
                        </div>
                    </div>
                    <div *ngIf="currentUserRole === 'SuperAdmin'" class="col-6 col-md-1">
                        <button type="button" class="btn btn-primary mt-4 btn-fill" (click)="createOrganization()">
                            Add
                        </button>
                    </div>

                    <div *ngIf="selectedOrganization || currentUserRole != 'SuperAdmin'" class="col-12 col-md-5">
                        <label for="CompanyLocationSelect" class="form-label">Select Company Location</label>
                        <ng-select id="CompanyLocationSelect" [(ngModel)]="selectedCompanyLocation"
                            [items]="companylocationArray" (change)="showShift(false)" bindLabel="name" placeholder="Select Company Location"
                            name="CompanyLocationSelect" required class="dark-mode-select" [multiple]="false">
                        </ng-select>

                        <div *ngIf="form.submitted && !selectedCompanyLocation" class="text-danger mt-2">
                            {{ requiredText }}
                        </div>

                    </div>
                    <div *ngIf="selectedOrganization || currentUserRole != 'SuperAdmin'" class="col-6 col-md-1">
                        <button type="button" class="btn btn-primary mt-4 btn-fill" (click)="createOrgLocation()">
                            Add
                        </button>
                    </div>

                    <div *ngIf="companyArray && companyArray.length &&  (selectedOrganization || orgIdFromLocalHost)" class="col-12 col-md-5">
                        <label for="CompanySelect" class="form-label">Select Client Company</label>
                        <ng-select id="CompanySelect" [(ngModel)]="selectedCompany" [items]="companyArray"
                            bindLabel="name" placeholder="Select Client Company" name="CompanySelect"
                            class="dark-mode-select" [multiple]="false"
                            (change)="onComnpanyChange(selectedOrganization?.id, selectedCompany?.id, false)"></ng-select>
                 
                    </div>
                    <div *ngIf="companyArray && companyArray.length &&  (selectedOrganization || orgIdFromLocalHost)" class="col-6 col-md-1">
                        <button type="button" class="btn btn-primary mt-4 btn-fill" (click)="createCompany()">
                            Add
                        </button>
                    </div>


                    <div *ngIf="selectedCompany" class="col-12 col-md-5">
                        <label for="ClientComLocationSelect" class="form-label">Select Client Company
                            Location</label>
                        <ng-select id="ClientComLocationSelect" [(ngModel)]="selectedClientCompanyLocation"
                            [items]="clietnCompanyLocationArray" (change)="showShift(false)" bindLabel="name"
                            [required]="!selectedClientCompanyLocation && selectedCompany"
                            placeholder="Select Client Company Location" name="ClientComLocationSelect"
                            class="dark-mode-select" [multiple]="false">
                        </ng-select>
                        <span *ngIf="form.submitted && !selectedClientCompanyLocation && selectedCompany"
                            class="text-danger mt-2">
                            {{ requiredText }}
                        </span>

                    </div>
                    <div *ngIf="selectedCompany" class="col-6 col-md-1">
                        <button type="button" class="btn btn-primary mt-4 btn-fill" (click)="createCompanyLocation()">
                            Add
                        </button>
                    </div> -->


                    <div *ngIf="currentUserRole === 'SuperAdmin'" class="col-12 col-md-6">
                        <label for="OrganizationSelect" class="form-label">Select Company</label>
                        <ng-select id="OrganizationSelect" [(ngModel)]="selectedOrganization"
                            [items]="organizationArray" bindLabel="name" placeholder="Select Company"
                            name="organizationSelect" class="dark-mode-select" [multiple]="false"
                            required="currentUserRole == 'SuperAdmin'"
                            (change)="onOrganizationChange(selectedOrganization.id, false)" (close)="onDropdownClose()"
                            (open)="onDropdownOpen()" (search)="onSearchDrop($event, organizationArray, 'name')"
                            (clear)="onDropdownClose()">

                            <ng-template ng-option-tmp let-item="item">
                                {{ item.name }}
                            </ng-template>

                            <!-- "Add Company" Button When No Match Found  -->
                            <ng-template *ngIf="showAddButton" ng-footer-tmp>
                                <div class="d-flex justify-content-between align-items-center p-2">
                                    <button type="button"
                                        class="btn btn-primary btn-fill w-23 text-start d-flex justify-content-between align-items-center"
                                        (click)="createOrganization(); $event.stopPropagation();">
                                        <span class="material-icons">add</span>
                                        <span>Add Company</span>
                                    </button>
                                </div>
                            </ng-template>

                        </ng-select>
                        <div *ngIf="form.submitted && !selectedOrganization && currentUserRole === 'SuperAdmin'"
                            class="text-danger mt-2">
                            {{ requiredText }}
                        </div>
                    </div>
                    <!-- <div *ngIf="currentUserRole === 'SuperAdmin'" class="col-6 col-md-1">
                        <button type="button" class="btn btn-primary mt-4 btn-fill" (click)="createOrganization()">
                        Add
                        </button>
                    </div> -->


                    <!-- COmpany Location -->
                    <div *ngIf="selectedOrganization || currentUserRole != 'SuperAdmin'" class="col-12 col-md-6">
                        <label for="CompanyLocationSelect" class="form-label">Select Company Location</label>
                        <ng-select id="CompanyLocationSelect" [(ngModel)]="selectedCompanyLocation"
                            [items]="companylocationArray" bindLabel="name" placeholder="Select Company Location"
                            required name="CompanyLocationSelect" class="dark-mode-select" [multiple]="false"
                            (change)="showShift(false)" (close)="onDropdownClose()" (open)="onDropdownOpen()"
                            (search)="onSearchDrop($event, companylocationArray, 'name')" (clear)="onDropdownClose()">

                            <ng-template ng-option-tmp let-item="item">
                                {{ item.name }}
                            </ng-template>

                            <!-- "Add Client Company" Button When No Match Found -->
                            <ng-template *ngIf="showAddButton || companylocationArray.length == 0" ng-footer-tmp>
                                <div class="d-flex justify-content-between align-items-center p-2">
                                    <button type="button"
                                        class="btn btn-primary btn-fill w-23 text-start d-flex justify-content-between align-items-center"
                                        (click)="createOrgLocation(); $event.stopPropagation();">
                                        <span class="material-icons">add</span>
                                        <span>Add Location</span>
                                    </button>
                                </div>
                            </ng-template>

                        </ng-select>
                        <div *ngIf="form.submitted && !selectedCompanyLocation" class="text-danger mt-2">
                            {{ requiredText }}
                        </div>
                    </div>
                    <!-- <div *ngIf="selectedOrganization || currentUserRole != 'SuperAdmin'" class="col-1 col-md-1">
                        <button type="button" class="btn btn-primary mt-4 btn-fill" (click)="createOrgLocation()">
                        Add
                        </button>
                    </div> -->

                    <!-- Client Company -->
                    <div *ngIf="companyArray && companyArray.length &&  (selectedOrganization || orgIdFromLocalHost)"
                        class="col-12 col-md-6">
                        <label for="CompanySelect" class="form-label">Select Client Company</label>
                        <ng-select id="CompanySelect" [(ngModel)]="selectedCompany" [items]="companyArray"
                            bindLabel="name" placeholder="Select Client Company" name="CompanySelect"
                            class="dark-mode-select" [multiple]="false"
                            (change)="onComnpanyChange(selectedOrganization?.id, selectedCompany?.id, false)"
                            (close)="onDropdownClose()" (open)="onDropdownOpen()"
                            (search)="onSearchDrop($event, companyArray, 'name')" (clear)="onDropdownClose()">

                            <ng-template ng-option-tmp let-item="item">
                                {{ item.name }}
                            </ng-template>

                            <!-- "Add Client Company" Button When No Match Found -->
                            <ng-template *ngIf="showAddButton || companyArray.length == 0" ng-footer-tmp>
                                <div class="d-flex justify-content-between align-items-center p-2">
                                    <button type="button"
                                        class="btn btn-primary btn-fill w-23 text-start d-flex justify-content-between align-items-center"
                                        (click)="createCompany(); $event.stopPropagation();">
                                        <span class="material-icons">add</span>
                                        <span>Add Client Company</span>
                                    </button>
                                </div>
                            </ng-template>

                        </ng-select>
                        <!-- <div *ngIf="form.submitted && !selectedCompany && currentUserRole === 'Admin'" class="text-danger mt-2">
                            {{ requiredText }}
                        </div> -->
                    </div>
                    <!-- <div *ngIf="companyArray && companyArray.length &&  (selectedOrganization || orgIdFromLocalHost)" class="col-6 col-md-1">
                        <button type="button" class="btn btn-primary mt-4 btn-fill" (click)="createCompany()">
                        Add
                        </button>
                    </div> -->

                    <!-- Client Company Location -->
                    <div *ngIf="selectedCompany" class="col-12 col-md-6">
                        <label for="ClientComLocationSelect" class="form-label">Select Client Company Location</label>
                        <ng-select id="ClientComLocationSelect" [(ngModel)]="selectedClientCompanyLocation"
                            [items]="clietnCompanyLocationArray" bindLabel="name"
                            placeholder="Select Client Company Location"
                            [required]="!selectedClientCompanyLocation && selectedCompany" (change)="showShift(false)"
                            name="ClientComLocationSelect" class="dark-mode-select" [multiple]="false"
                            (close)="onDropdownClose()" (open)="onDropdownOpen()"
                            (search)="onSearchDrop($event, clietnCompanyLocationArray, 'name')"
                            (clear)="onDropdownClose()">

                            <ng-template ng-option-tmp let-item="item">
                                {{ item.name }}
                            </ng-template>

                            <!-- "Add Client Company" Button When No Match Found -->
                            <ng-template *ngIf="showAddButton || clietnCompanyLocationArray.length == 0" ng-footer-tmp>
                                <div class="d-flex justify-content-between align-items-center p-2">
                                    <button type="button"
                                        class="btn btn-primary btn-fill w-23 text-start d-flex justify-content-between align-items-center"
                                        (click)="createCompanyLocation(); $event.stopPropagation();">
                                        <span class="material-icons">add</span>
                                        <span>Add Location</span>
                                    </button>
                                </div>
                            </ng-template>

                        </ng-select>
                        <span *ngIf="form.submitted && !selectedClientCompanyLocation && selectedCompany"
                            class="text-danger mt-2">
                            {{ requiredText }}
                        </span>
                    </div>
                    <!-- <div *ngIf="selectedCompany" class="col-6 col-md-1">
                        <button type="button" class="btn btn-primary mt-4 btn-fill" (click)="createCompanyLocation()">
                        Add
                        </button>
                    </div> -->



                    <!-- Shift SElect -->
                    <div class="col-12 col-md-6">
                        <label for="ShiftSelect" class="form-label">Select Shift</label>
                        <ng-select id="ShiftSelect" [(ngModel)]="selectedShift" [items]="shiftArray" bindLabel="name"
                            placeholder="Select Shift" (change)="onShiftChange()" name="shiftSelect"
                            class="dark-mode-select" [multiple]="false" required></ng-select>
                        <div *ngIf="form.submitted && !selectedShift" class="text-danger mt-2">
                            {{ requiredText }}
                        </div>
                    </div>



                    <!-- Description -->
                    <div class="col-12 col-md-6">
                        <label for="description" class="form-label text-muted">Description</label>
                        <input type="text" class="form-control" #description="ngModel" id="description"
                            [(ngModel)]="model.description" name="description" placeholder="Enter description" />
                        <!-- <div *ngIf="form.submitted && description.invalid" class="text-danger mt-1">
                            <small *ngIf="description.errors?.['required']">{{requiredText}}</small>
                        </div> -->
                    </div>


                    <!-- User Id -->
                    <!-- <div class="col-12 col-md-6">
                        <label for="UserSelect" class="form-label">Select User</label>
                        <ng-select id="UserSelect" [(ngModel)]="selectedUser" [items]="userArray" bindLabel="name"
                            placeholder="Select User" required name="UserSelect" class="dark-mode-select"
                            [multiple]="true" required></ng-select>
                        <div *ngIf="form.submitted && !selectedUser" class="text-danger mt-2">
                            {{ requiredText }}
                        </div>
                    </div> -->


                </div>


                <div class="mt-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <!-- Search Input -->
                        <!-- <div *ngIf="rows && rows.length" class="search-bar">
                            <input type="text" class="form-control" placeholder="Search..." (input)="onSearch($event)" />
                        </div> -->

                        <!-- Get Users Button -->
                        <div class="ms-auto">
                            <button style="color: #fff" (click)="setPage({ offset: 0 })" type="button"
                                class="btn btn-success fw-semibold px-4 py-2 btn-fill">
                                Get Users
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row mb-5  d-flex justify-content-center gap-5">
                    <!-- Left Column (All Users) -->
                    <div class="col-md-5">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 style="font-size: 18px;">Users</h5>
                            <div class="search-container mb-2">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <mat-icon class="search-icon">search</mat-icon>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Search..."
                                        (keyup)="onSearchUsers($event)">
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive styled-table">
                            <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50"
                                [footerHeight]="0" [rowHeight]="40" [scrollbarV]="true">
        
        
                                <ngx-datatable-column name="Name" [resizeable]="false" [draggable]="false" [sortable]="false"
                                    prop="FullName"></ngx-datatable-column>
                                <ngx-datatable-column name="Role" [resizeable]="false" [draggable]="false" [sortable]="false"
                                    prop="Role"></ngx-datatable-column>
                                <!-- <ngx-datatable-column name="Company" prop="Organization.Name"></ngx-datatable-column> -->
        
                                <!-- Move to Selected Button -->
                                <ngx-datatable-column name="Assign" [resizeable]="false" [sortable]="false" [draggable]="false">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <button type="button" class="icon-btn" (click)="selectUser(row)">
                                            <mat-icon>arrow_forward</mat-icon>
                                        </button>
                                    </ng-template>
                                </ngx-datatable-column>
        
        
                            </ngx-datatable>
                        </div>
                    </div>
                    <!-- <div class="col-md-2"></div> -->
        
                    <!-- Middle Section (Arrow Divider) -->
                    <!-- <div class="col-md-2 text-center d-flex align-items-center justify-content-center">
                      <h3>⇄</h3>
                    </div> -->
        
                    <!-- Right Column (Selected Users) -->
                    <div class="col-md-5">
                        <h5 style="font-size: 18px;">Selected Users</h5>
                        <!-- <div class="d-flex justify-content-between align-items-center">
                            <div class="search-container mb-2">
                              <div class="input-group">
                                <span class="input-group-text">
                                  <mat-icon class="search-icon">search</mat-icon>
                                </span>
                                <input 
                                  type="text" 
                                  class="form-control" 
                                  placeholder="Search..." 
                                  (keyup)="onSearchSelectedUser()"
                                >
                              </div>
                            </div>
                          </div> 
                           -->
        
                        <div class="table-responsive styled-table">
                            <ngx-datatable class="material" [rows]="selectedArray" [columnMode]="'force'" [headerHeight]="50"
                                [footerHeight]="0" [rowHeight]="40" [scrollbarV]="true">
        
                                <ngx-datatable-column name="Name" [resizeable]="false" [draggable]="false" [sortable]="false"
                                    prop="FullName"></ngx-datatable-column>
                                <ngx-datatable-column name="Role" [resizeable]="false" [draggable]="false" [sortable]="false"
                                    prop="Role"></ngx-datatable-column>
                                <!-- <ngx-datatable-column name="Company" prop="Organization.Name"></ngx-datatable-column> -->
        
                                <!-- Remove from Selected Button -->
                                <ngx-datatable-column name="Remove" [resizeable]="false" [sortable]="false" [draggable]="false">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <button type="button" class="icon-btn" (click)="removeUser(row)">
                                            <mat-icon class="white-icon">delete</mat-icon>
                                        </button>
                                    </ng-template>
                                </ngx-datatable-column>
        
        
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
        
        
        
        
                <div class="card-body d-flex">
                    <button *ngIf="mode === 'create'" type="submit"
                        class="btn btn-primary fw-semibold px-4 py-2 me-2 btn-fill">
                        Assign
                    </button>
                    <button *ngIf="mode === 'edit'" type="submit"
                        class="btn btn-primary fw-semibold px-4 py-2 me-2 btn-fill">
                        Update
                    </button>
                    <button type="button" class="btn btn-secondary fw-semibold me-3 px-4 py-2 btn-transparent"
                        routerLink="/main/attendance/shift-assign">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-warning fw-semibold me-3 px-4 py-2 btn-transparent"
                        (click)="onClear()">
                        Clear
                    </button>
        
                </div>
        
            </div>
        </div>


<!-- 
        <div *ngIf="rows && rows.length" class="card rounded-3 shadow-sm mb-4">
            <div class="card-body">

                    <div class="ag-grid-container" [ngClass]="{
                        'bcg-light': utils.themeStatus === 'light',
                        'bg-dark': utils.themeStatus === 'dark'
                      }">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive styled-table">
                                  
                                    <ngx-datatable style="height: 500px;" class="bootstrap" [rows]="rows"
                                        [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50"
                                        [scrollbarV]="true" [scrollbarH]="true" [messages]="messages"
                                        [selected]="selected" [selectionType]="SelectionType.checkbox"
                                        (select)="onSelect($event)">

                                        <ngx-datatable-column [sortable]="false" [canAutoResize]="false"
                                            [draggable]="true" [resizeable]="true" [headerCheckboxable]="true"
                                            [checkboxable]="true">
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="Name" prop="FullName"
                                            [width]="80"></ngx-datatable-column>

                                        <ngx-datatable-column name="Role" prop="Role"
                                            [width]="80"></ngx-datatable-column>

                                        <ngx-datatable-column name="Company"
                                            prop="Organization.Name"></ngx-datatable-column>
                                        <ngx-datatable-column name="Client Company"
                                            prop="Company.Name"></ngx-datatable-column>

                                    </ngx-datatable>
                                </div>
                            </div>
                        </div>
                
                    </div>


            </div>
        </div> -->

       
        <!-- <div class="card rounded-3 shadow-sm mb-4">
            <div class="card-body">
                <div class="rounded-3">
                    
                </div>

            </div>
        </div> -->

    </form>

</div>

<app-company-location-modal (isComLocAdded)="isComLocAdded($event)"></app-company-location-modal>
<app-organization-location-modal (isOrgLocAdded)="isComLocAdded($event, 'org')"></app-organization-location-modal>

<app-organization-modal (isOrgAdded)="isOrgAdded($event)"></app-organization-modal>

<app-company-modal (isComAdded)="isComAdded($event)"></app-company-modal>