<!--<c-footer>-->
  <div class="footer-container" >
    <!-- <a href="https://coreui.io/" target="_blank">CoreUI</a> -->
    <span class="footer-txt">
      <a href="https://www.simplelogix.com/" target="_blank" class="footer-link">© Simplelogix 2025</a>. All rights reserved. | Empowering Workforce Management with Precision & Efficiency.
    </span>
  </div>
  <div class="ms-auto">
    <!-- Powered by -->
    <a href="/" target="_blank">
      <!-- <span> Simple Logix</span> -->
    </a>
  </div>
<!--</c-footer>-->
